{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "singleQuote": false,
                "semi": true
            }
        }
    ]
}
